* html .u47_table {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="result_files/u47_table.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="result_files/u48_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="result_files/u48_original.png");
}

